*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
ul{
    display: flex;
    flex-direction: row;
    grid-column: 1;
    width: 200px;
    color: white;
}

nav a{
    text-decoration: none;
    color: white;
}
.mouseover{

}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
    position: relative;
}

nav li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

nav li:hover::after {
    width: 100%;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;  /* Two equal columns */
    padding: 2.5%;
    background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
    position: sticky;               /* Makes the header sticky */
    top: 0;                         /* Sticks to the top */
    z-index: 1000;                  /* Ensures the header is above other content */
    transition: background-color 0.3s, padding 0.3s;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.8);  /* Darker background on scroll */
    /* Additional styles can go here */
}
.hero{
    padding: 15%;
}
#lessons{
    display: flex;
    padding: 3%;
    justify-content: center;
    background-color: blueviolet;

}
.lessons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.teachers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: dense;
    gap: 150px;
}
#teachers{
    display: flex;
    justify-content: center;
    padding: 2.5%;
    background-color: #edede9;
}
#planning{
    padding: 5%;
    background-color: blueviolet;
}
.teacherdescription{
    color: #778da9;
}
.teacherpicture{
    width: 300px;
    height: auto;
    border-radius: 5px;
    padding-bottom: 5px;
}

.teachertemplate{
    border-radius: 10px;
    background-color: white;
    width: 300px;
    padding: 10%;
}
.lessoncontainer{
    background-color: aliceblue;
    padding: 2.5%;
    border-radius: 10px;
    width: 898.15px;
}
.lessoninfo{
    display: none;
    
}
.lesson:hover .lessoninfo, .lesson .lessoninfo.hover{
    display: block;
}
.borderimage{
    border-radius: 5px;
}
.planning{
    display: flex;
    justify-content: center;
    border: 2px solid darkblue;
}
.planningpic{
    display: flex;
    justify-content: center;
}
.border{
    margin-right: 2px;
    margin-left: 2px;
}
#wrapper{
    background-image: url("img/DALL·E\ 2024-08-28\ 09.33.13\ -\ A\ wide\ image\ suitable\ for\ a\ website\ header\,\ depicting\ a\ software\ developer\ coding\ in\ a\ modern\ office\ environment.\ The\ developer\ is\ a\ middle-aged\ South.webp");
}
footer{
    padding: 2.5%;
    color: #778da9;
}

@media only screen and (max-width: 600px) {
    header a{
        font-size: x-small;
    }

    header p{
        font-size: x-small;
    }
    body {
      background-color: lightblue;
    }
    #wrapper{
        background-image: url("img/softwaredeveloper.png");
    }
    #teachers{
        width: 375px;
        padding: 2%;
        display: flex;
        justify-content: start;

    }
    #planning{
        width: 375px;
        padding: 1%;
    }

    .teachers{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: dense;
        gap: 5px;
    }
    .teachertemplate{
        border-radius: 10px;
        background-color: white;
        width: 150px;
        padding: 5%;
        justify-self: start;
    }
    .teacherpicture{
        width: 150px;
        height: 147px;
        border-radius: 5px;
        padding-bottom: 5px;
    }
    footer p{
        font-size: x-small;
    }
    #lessons{
        width: 375px;
        display: flex;
        justify-content: start;
    }
    .lesson{
        width: 150px;
    }
    .lessoncontainer{
        width: 200px;
    }
    .borderimage{
        width: 186.16px;
        height: 102.66;
    }
    #planning{
        display: flex;
        justify-content: start;
        padding: 0;
        border-radius: 0;
    }
  }
  #wrapper, #lessons, #teachers{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }